<!DOCTYPE html>
<html>

<head>

	<title>Create a new chat room! | Alpha Chat</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>
<body>

	<header class="homebanner">

			<h1 class="homebannertext">
				<a href="https://www.freepik.com/free-photo/3d-render-speech-bubbles-thought-balloons-set_32242326.htm#query=chat%20banner&position=43&from_view=search&track=ais" id="logo">Chat with <span>Friend</span></a>
			</h1>

	</header>

	<section>

		<div class="homesection">

			<div class="node">
				<img src="img/alphachat.jpeg" alt="nodelogo" id="nodelogo"/>
				<h2 id="chat">powered by alpha chat</h2>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>

			<div class="tutorial">
				<a title="Chat with me on Facebook." href="https://facebook.com/nahiyean.alif" id="tutorial">
					or Chat with me on Facebook
				</a>
			</div>
		</div>

	</section>

</body>
</html>
